<launch>
	<arg name="pickup_checkpoints_file" default="pickup_checkpoints.json" />
	<arg name="dropoff_checkpoints_file" default="dropoff_checkpoints.json" />
	<arg name="arm_taskspaces_file" default="arm_taskspaces.json"/>

	<node name="master" pkg="master" type="master" output="screen" />
	<!-- <node name="keyboard" pkg="keyboard" type="keyboard" output="screen" /> -->
    <node name="mobile_ik" pkg="mobile_ik" type="mobile_ik" output="screen"/>

	<node name="pose_checkpoint" pkg="master" type="pose_checkpoint"  output="screen" >
		<param name="SHC2C" value="$(find master)/data/$(arg pickup_checkpoints_file)" />
		<param name="C2SHC" value="$(find master)/data/$(arg dropoff_checkpoints_file)" />
	</node>

	<node name="arm_manager" pkg="master" type="arm_manager"  output="screen" >
		<param name="arm_taskspaces" value="$(find master)/data/$(arg arm_taskspaces_file)" />
	</node>

	<node name="pose_est" pkg="pose_est" type="pose_est" output="screen"/>
	<node name="pose_controller" pkg="pose_controller" type="pose_controller" output="screen"/>
	<node name="serial_node" pkg="rosserial_arduino" type="serial_node.py" output="screen">
		<param name="port" type="string" value="/dev/ttyACM0"/> 
	</node>
</launch>